.App-navigation {
  align-items:center;
  display: flex;
}

.nav2 {
  width: 100%;
  text-align: right;
}

.App-header {
  font-family: "Times new Roman";
  background-color: #ffffff;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: hsl(210, 100%, 20%);
}

.App-body {
  display: flex;
  justify-content: center;
  background-color: hsl(210, 100%, 20%);
}

.App-body-plus {
  font-family: "Times new Roman";
  text-align: center;
  background-color: hsl(210, 100%, 20%);
  color: white;
  font-size: 25px;
}

.App-footer {
  text-align: left;
  display: flex;
  font-family: "Times new Roman";
  font-size:20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  flex-direction: column;
  color: white;
  background-color: hsl(210, 100%, 20%);
}

input[type="text"] {
  font-size: 25px;
}