[class*="-navigation"] {  /* effectively the top header */
  align-items:center;
  display: flex;
  background: white;
  padding-top: 15px;
  padding-left: 15px;
}

.nav2 {
  width: 75%;
  text-align: right;
}
html{
  background: hsl(210, 100%, 20%);
}

[class*="-header"] {
  font-family: "Times new Roman";
  background-color: #ffffff;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: hsl(210, 100%, 20%);
}
.App {
  background-color: hsl(210, 100%, 20%);
}
[class*="-body"] {
  display: flex;
  justify-content: center;
  background-color: hsl(210, 100%, 20%);
}
.Help-body {  /*For specifics on help beyond the all -body */
  justify-content: left;
  min-height: 70vh;
  color: white;
  font-size: 35px;
}

[class*="-body-plus"] {
  font-family: "Times new Roman";
  text-align: center;
  background-color: hsl(210, 100%, 20%);
  color: white;
  font-size: 25px;
}

[class*="-footer"] {
  text-align: left;
  display: flex;
  font-family: "Times new Roman";
  font-size:20px;
  position: relative;
  width: 100%;
  bottom: 0;
  flex-direction: column;
  color: white;
  background-color: hsl(210, 100%, 20%);
}

input[type="text"] {
  font-size: 25px;
}